@media screen and (max-width: 667px) {

    #container > .post > .row > .col-md-2 {
        width: 155px;
        margin-left:10px;

    }
    #container > .post > .row > .col-md-2 > img {
        margin-left: 10px;

    }
}

@media screen and (min-width: 668px) and (max-width: 1024px) {
    .carousel-inner {
        height: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .carousel-inner{
        height: 400px;
    }
}

.post {
    margin-top: 40px;
}

#container > .post > .row > .col-md-2 {
    display: inline-block;
}


body {
    font-family: 'Saira Semi Condensed', sans-serif;
    background-color: rgb(209, 206, 180);
}



.container img {
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
    width: 150px;
    height: 225px;
}

.container img:hover, .container img:focus {
    transform: scale(1.2);
    transition: all .5s;
}

.parrafo {
    background-color: lightgrey;
    margin-right: 100px;
}

.parrafo p{
    margin-left: 10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #FFFDEE;
    background-color: #6E1E29;
}

.nav > li > a {
    color: #4C0A13;
}

.nav > li > a:hover, .nav > li > a:focus {
    color: #4C0A13;
    text-decoration: none;
    background-color: #FFFDEE;
}

blockquote {
    border-left:none;
}

.logo img{
    width: 300px;
    height: 100px;
}

.merch img {
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    border-radius: 5px;
}

.btn-primary {
    background-image: none !important;
    background-color: #8B3A45;
    border-color: lightslategrey;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
    background-color: #2E0006;
    border-color: lightslategrey;
}